*{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: #f1f1f1;
}

/* Variables */
:root{
	--bg-color:#000;
	--cl-color:#fff;
}


.login{
	border: 1px solid red;
}
.btn-login{
    background-color: #7431f9 !important;
    transition: all 0.5s;
    border: none !important;
}

.btn-login:hover{
    background-color: #4f299b !important;
    border: none;
}
a{
    text-decoration: none !important;
}

.password:hover{
    color: #155aad !important;
}

input::placeholder{
    color: #000000 !important;
    opacity: 0.5 !important;
}

a:hover{
    color:rgb(255, 255, 255)  !important;
    transition: all 0.5s;
}
.icons{
    position: absolute;
    top: 18px;
    left: 17px;
    font-size: 1.3rem;
    color: #000000 !important;
} 
.form-control{
    padding: 0 0 0 3.2rem !important;
}
.form{
    background-color: #202024;
}

.logo{
    font-family: 'Chakra Petch', sans-serif;
}

.text-login{
    font-size: 3.2rem;
    font-family: 'Anton', sans-serif;
}

.registre-se:hover{
    color: #198754 !important;
}
